{% extends 'base.html' %}
{% block content %}
<h2 class="text-center mt-3 mb-4">{{ hotel_details.hotel_name }}</h2>
<section title="Hotel Details" class="mb-4">
    <div class="container">
        <div class="row">
            <!-- Left Column for Image Carousel -->
            <div class="col-md-6">
                <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ hotel_details.hotel_banner.url }}" class="d-block w-100 img-fluid rounded large-image" alt="Hotel Banner">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ hotel_details.interior_image.url }}" class="d-block w-100 img-fluid rounded small-image" alt="Interior Image 1">
                        </div>
                        <div class="carousel-item">
                            <img src="{{ hotel_details.interior_image.url }}" class="d-block w-100 img-fluid rounded small-image" alt="Interior Image 2">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <!-- Right Column for Hotel Details -->
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <h5><i class="fas fa-home"></i> {{ hotel_details.hotel_name }}</h5>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <h5><i class="fa-solid fa-location-dot"></i> {{ hotel_details.location }}</h5>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <h5><i class="fa-solid fa-phone"></i> {{ hotel_details.phone_number }}</h5>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <h5><i class="fa-solid fa-envelope"></i> {{ hotel_details.email }}</h5>
                    </div>
                </div>
            </div>

<hr/>
<section title="Rooms" class="mt-4">
    <h3 class="text-center">Available Rooms</h3>
    <div class="row mt-3">
        {% if room_list %}
            {% for room in room_list %}
                <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                    <a href="/room_details/?room={{ room.id }}" class="text-decoration-none">
                        <div class="card shadow-sm">
                            <img src="{{ room.room_image.url }}" class="card-img-top img-fluid rounded-top" alt="Room Image" />
                            <div class="card-body">
                                <h5 class="card-title text-center">Room no: {{ room.room_number }}</h5>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-12">
                <h5 class="text-danger text-center">Rooms not available!</h5>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}

<style>
    .image-container {
        overflow: hidden;
        position: relative;
    }

    .large-image, .small-image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .row {
        margin-right: 0;
        margin-left: 0;
    }
</style>
