{% extends 'base.html' %}

{% block content %}


    <h2 class="text-center mt-3 mb-5" >Room No. {{room_details.room_number }}</h2>


<section title="Hotel Details">
    <div class="row">

        <div class="col-sm-6 col-md-6 col-lg-6" >
           <img src="{{room_details.room_image.url}}" style="width: 100%;">
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6 " >
            <h5 class="text-left" > Capcity: {{room_details.capacity }}</h5>
            <h5 class=" text-left" > Prce: Rs. {{room_details.price }}/-</h5>
            <h5 class=" text-left" > Description: {{room_details.description }}</h5>
       <button class="btn-outline-primary mt-5">Book Now </button>
        </div>
       

    </div>

</section>


{% endblock %}