{% extends 'base.html' %}
  
{%  block content %}

  
  <!-- Main Content -->
   <section>
    <div class="container mt-5">
        <!-- Carousel -->
        <div id="carouselExample" class="carousel slide position-relative">
          <div class="carousel-inner rounded-2" style="height: 400px;"> <!-- Set the desired height here -->
            {% for ad in ads_list %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}" style="height: 100%;">
                <img src="{{ ad.ads_image.url }}" class="d-block w-100 h-100" alt="Ad Image" style="object-fit: cover; height: 100%;">
            </div>
            {% endfor %}
        </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
   </section>
 

    <!-- Picked Hotels Section -->
     <section>
        <div class="container mt-4">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <div>
                    <h2>Picked Hotel of the day</h2>
                </div>
                <a href="/pickedoftheday" style="text-decoration: none;">
                    View more
                </a>
            </div>
           
              <div class="row">
                  {% for hotel in picked_hotel_list %}
                  {% if forloop.counter <= 8 %}
                  <div class="col-lg-3 mb-3">
                    <a href="/hotelDetails/?hotel={{hotel.id}}" class="text-decoration-none">
                      <div class="card p-2">
                          <img class="card-img-top" src="{{ hotel.hotel_image.url }}" alt="Hotel Image" style="height: 200px; object-fit: cover;">
                          <div class="card-body">
                              <h5 class="card-title">{{ hotel.hotel_name }}</h5>
                              <p class="card-text">{{ hotel.location }}</p>
                          </div>
                      </div>
                    </a>
                  </div>
                  {% endif %}
                  {% empty %}
                  <p>No picked hotels available.</p>
                  {% endfor %}
              </div>
          </div>
        </div>
      
        <div class="container mt-4" style="cursor: pointer;">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <div>
                    <h2>Top 10 Room</h2>
                </div>
                <div>
                  <a href="/toptenroomlist" style="text-decoration: none;">
                      View more
                  </a>
              </div>
            </div>
         
            <div class="row">
                {% for room in top_ten_room_list %}
                    {% if forloop.counter <= 4 %} <!-- Only show the first 4 cards -->
                        <div class="col-lg-3 col-md-6 mb-3">
                            <div class="card">
                                <a href="/roomDetails/?room={{room.id}}" class="text-decoration-none">
                                <img class="card-img-top p-2 rounded-top-circle" src="{{ room.room_image1.url }}" alt="Hotel Room" style="height: 200px; object-fit: cover;">
                                <div class="card-body" style="height: 300px;">
                                    <h5 class="card-title">{{ room.hotel }}</h5>
                                    <div class="room-details">
                                        <p class="card-text"><strong>Room No:</strong> {{ room.room_number }}</p>
                                        <p class="card-text"><strong>Price:</strong> ₹{{ room.price }}</p>
                                        <p class="card-text"><strong>Capacity:</strong> {{ room.capacity }} persons</p>
                                        <p class="card-text description" style="display: -webkit-box; 
                                        -webkit-line-clamp: 4;                                   
                                        -webkit-box-orient: vertical; 
                                        overflow: hidden; 
                                        text-overflow: ellipsis;">
                                    <strong>Description:</strong> {{ room.description }}
                                    </p>
                                    </div>
                                </div>
                                </a>
                            </div>
                        </div>
                    {% endif %}
                {% empty %}
                    <p>No picked hotels available.</p>
                {% endfor %}
            </div>
        </div>
      </div>
     </section>
  


{% endblock %}